<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Neonode</title>
    <link rel="icon" type="image/gif" href="/img/favicon.gif" />

    <!-- webpack -d -->
    <script src="/dist/bundle.js"></script>
</head>

<body>
    <div class="unit 2-columns wrapper">
      <div class="column fixed">
        <div class="container">
          <img src="/img/neon-logo.png" alt="" />
        </div>
      </div>
      <div class="column elastic">
        <div class="container">
          <h1>Neonode</h1>
          <h2>v0.0.1</h2>
        </div>
      </div>
    </div>
    <hr />
    <div class="unit">
      <div class="container">
        <%= yield %>
      </div>
    </div>


</body>

</html>
