<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Neonode</title>
    <link rel="icon" type="image/gif" href="/public/img/favicon.gif" />

    <!-- css -->
    <link href="/public/css/vendor/elastic.css" rel="stylesheet" type="text/css">
    <link href="/public/css/vendor/elastic.print.css" rel="stylesheet" type="text/css">

    <link href="/public/css/style.css" rel="stylesheet" type="text/css">

    <!-- js -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="/neon/neon.js"></script>
    <script src="/neon/stdlib/custom_event.js"></script>
    <script src="/neon/stdlib/custom_event_support.js"></script>
    <script src="/neon/stdlib/node_support.js"></script>
    <script src="/neon/stdlib/bubbling_support.js"></script>

    <script src="/public/js/vendor/jquery-2.1.1.min.js"></script>
    <script src="/public/js/vendor/elastic.js"></script>
    <script src="/public/js/vendor/Widget.js"></script>

    <script src="/public/js/app.js"></script>
</head>

<body>
    <div class="unit 2-columns wrapper">
      <div class="column fixed">
        <div class="container">
          <img src="/public/img/neon-logo.png" alt="" />
        </div>
      </div>
      <div class="column elastic">
        <div class="container">
          <h1>Neonode</h1>
          <h2>v0.0.1</h2>
        </div>
      </div>
    </div>
    <hr />
    <div class="unit">
      <div class="container">
        <%= yield %>
      </div>
    </div>


</body>

</html>
